---
layout: default
permalink: /downloads/
title: Downloads
custom-body: >-
  <script type="text/javascript">
    const toggleCollapse = (tgt) => {
      tgt.classList.toggle('collapsible-active');
      let content = tgt.nextElementSibling;
      let icon = tgt.firstElementChild;
      var hash = "#";
      if (content.style.maxHeight) {
        content.style.maxHeight = null;
        icon.style.transform = null;
        // set the hash to the nearest open collapsible if any
        let buttons = document.getElementsByClassName('collapsible-active');
        if (buttons.length > 0) {
          hash += buttons[0].id;
        }
      } else {
        hash += tgt.id
        content.style.maxHeight = content.scrollHeight + "px";
        icon.style.transform = "rotate(90deg)";
      }
      history.replaceState(null, "", hash);
    };

    window.onload = (event) => {
      // uncollapse the hash if one was given
      if (window.location.hash) {
        let e = document.getElementById(window.location.hash.substring(1));
        if (e && e.classList.contains("collapsible-button")) {
          toggleCollapse(e);
        }
      }
    };
  </script>
---

<div class="group-box">
  <span class="group-box-title">Latest version</span>
  <div class="group-box-content">
    <h3>
      <a href="{{- site.downloads.last.url -}}">Trackerboy {{ site.downloads.last.title }}</a>
    </h3>
    <p>{%- include downloads/released-on.html date=site.downloads.last.date -%}</p>
    {% include downloads/buttons.html download=site.downloads.last %}
  </div>
</div>
<div class="group-box">
  <span class="group-box-title">Older versions</span>
  <div class="group-box-content">
    {%- for download in site.downloads reversed %}
      {%- if forloop.first %}
        {%- continue %}
      {%- endif %}
      <section class="section-download">
        <div class="collapsible-button" id="{{download.title}}" onclick="toggleCollapse(this);">
          <span class="collapsible-button-icon">&#9654;</span>
          Trackerboy {{download.title}}
        </div>
        <div class="collapsible-content">
          <p id="{{download.title}}">
            {% include downloads/released-on.html date=download.date %}
            &mdash;
            <a href="{{download.url}}">Details</a>
          </p>
          {% include downloads/buttons.html download=download %}
        </div>
      </section>
    {% endfor %}
  </div>
</div>