
{%- macro svgIcon(iconId, classes='') -%}
{%- set _classes = 'svg-icon' %}
{%- if classes %}
{%- set _classes %}{{_classes}} {{classes}}{% endset %}
{%- endif %}
{%- set href %}/assets/svg/icons.svg#{{iconId}}{% endset %}
<svg class="{{ _classes }}"><use xlink:href="{{ href | url }}"></use></svg>
{%- endmacro -%}
