{%- comment -%}
  This include generates a .download-buttons section which contains button links
  for each of a download's assets.

  Parameters:
    download: The download object from the downloads collection
{%- endcomment -%}
<section class="download-buttons">
  {%- if include.download.assets %}
    {%- for asset in include.download.assets %}
      <a class="download-button download-button-filled download-button-spacer" href="{% include downloads/get-url.html asset=asset download=include.download %}">
        {% case asset.name %}
        {%- when 'win32' -%}
          <div class="download-button-icon">
            {% include layouts/svg-icon.html id='windows' %}
          </div>
          <div class="download-button-content">
            <div class="download-button-line1">Windows</div>
            <div class="download-button-line2">32-bit</div>
          </div>
        {%- when 'win64' -%}
          <div class="download-button-icon">
            {% include layouts/svg-icon.html id='windows' %}
          </div>
          <div class="download-button-content">
            <div class="download-button-line1">Windows</div>
            <div class="download-button-line2">64-bit</div>
          </div>
        {%- when 'linux64' -%}
          <div class="download-button-icon">
            {% include layouts/svg-icon.html id='linux' %}
          </div>
          <div class="download-button-content">
            <div class="download-button-line1">Linux</div>
            <div class="download-button-line2">64-bit</div>
          </div>
        {%- when 'osx64' -%}
          <div class="download-button-icon">
            {% include layouts/svg-icon.html id='apple' %}
          </div>
          <div class="download-button-content">
            <div class="download-button-line1">MacOS</div>
            <div class="download-button-line2">64-bit</div>
          </div>
        {%- when 'manual' -%}
          <div class="download-button-icon">
            {% include layouts/svg-icon.html id='book' %}
          </div>
          <div class="download-button-content">
            User Manual
          </div>
        {%- else -%}
          <div class="download-button-content">
            {{- asset.name -}}
          </div>
        {%- endcase -%}
      </a>
    {%- endfor %}
  {%- endif %}
  <a class="download-button" href="{{ site.repourl }}/releases/tag/{{ include.download.title }}">
    <div class="download-button-icon">
      {% include layouts/svg-icon.html id='github' %}
    </div>
    <div class="download-button-content">Source</div>
  </a>
</section>