---
permalink: /
title: Home
---
{% extends 'templates/base.njk' %}
{%- from 'templates/utils.njk' import svgIcon -%}

{% block content %}
<h1>Overview</h1>

<p>
Trackerboy is a cross-platform music tracker for the Game Boy and Game Boy Color
systems. Trackerboy provides an <strong>intuitive</strong> and <strong>easy-to-use</strong>
interface, with high quality sound output.
</p>

<img src="{{ '/assets/img/screenshot.png' | url }}" alt="Trackerboy interface">

<p>
<a href="{{ releases[0].version | releaseUrl | url }}">Download here</a>
or check out the <a href="{{ '/manual/' | url }}">user manual.</a>
</p>

{% endblock %}
